# Data (Datasets)
data/
data/train/
data/val/
data/test/
dataset.yaml

# Python & Environment
__pycache__/
*.py[cod]
venv/
.env

# Model Weights & Artifacts
weights/
*.pth
*.pt
*.onnx
*.zip
*.bin
*.engine
runs/
models/dog/

# Images & Temp Files
*.jpg
*.jpeg
*.png
tmp/
tmp_*